# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log

# Editor de texto
.vscode/
.idea/
*.swp

# Sistema operativo
.DS_Store
Thumbs.db

# Build
.next/
out/

# Entornos
.env
.env.local
.env.*.local

# Otros
coverage/
